* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
      list-style: none;
      text-decoration: none;
      font-family: 'Rajdhani', sans-serif;
  }


header {
    position: fixed;
    top:0;
    right: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
} 

.logo {
    font-size: 2rem;
    font-weight: 800;
}

.logo a{
    color: #1b1b1b;
    text-decoration: none;
    transition: all 0.42s ease;
}


.navlinks{
    display: flex;
}
.navlinks a{
    color: #1b1b1b;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding:10px 20px;
    font-weight: 500;
    transition: all 0.42s ease;
}
.navlinks a:hover {
    color: black;  
    text-decoration: underline; 
}

.buttons button{
    width:110px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    padding:10px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
.buttons button:nth-child(1) {
    background-color: #f6f6f6;
    color: black;
}

.buttons button:nth-child(2) {
    background-color: black;
    color: #f6f6f6;
}

.buttons button:nth-child(1):hover {
    background-color: #1b1b1b;
    color: #f6f6f6;
    transition: 0.65s ease;
}
.buttons button:nth-child(2):hover {
    background-color: #1b1b1b;
    color: #f6f6f6;
    transition: 0.65s ease;
}


body {
  background-color: #f6f6f6;
  color: #000;
}
  
.hero{
    display: flex;
    align-items: center;
    height: 88vh;
    padding: 0 8%;
}

.herocontent{
    max-width: 600px;
}
.herocontent .startext{
    display: flex;
    align-items: center;
}
.startext i{
    font-size: 25px;
}
.herocontent h1{
    margin-left: 15px;
}
.herocontent p{
    font-size: 6rem;
    line-height: 1;
    margin:0 0 25px;
    font-weight: 600;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 365px;
    height:50px;
}
.hero-buttons button{
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

.hero-buttons button {
    background-color: black;
    color: #f6f6f6;
    width:170px;
    font-size: 20px;
    font-weight: 600;
    padding:10px;
}
.hero-buttons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    border-radius: 50%;
    font-size: 35px;
    background-color: rgb(234, 234, 234);
    margin-left: 55px;
}

.hero-buttons p{
    font-size: 1.1rem;
    padding-top: 25px;
    margin-left: 15px;
    font-weight: 500;
}


.hero-buttons a:hover {
    background-color: #1b1b1b;
    color: #f6f6f6;
    transition: 0.65s ease;
}

.hero-buttons button:hover {
    background-color: #1b1b1b;
    color: #f6f6f6;
    transition: 0.65s ease;
}

.heromainbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70vh;
    width: 100%;
}
.herophoto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}
.borderphoto{
    position: absolute;
    width: 320px;
    height: 325px;
    border: 2.4px solid #1b1b1b;
    z-index: 1;
    top:160px;
}
.heropicture{
    width:380px;
    height: 330px;
    z-index: 10;
    padding-left: 50px;
    border-top-left-radius: 50px;
    overflow: hidden;
}
.herosecondbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:50px;
}
.peoplepicture{
    width:200px;
    height:50px;
}
.peopletext{
    font-size: 1.2rem;
    font-weight: 500;
    width: 200px;
    height: 50px;;
}
.peopletext h2{
    font-size: 24px;
    font-weight: 600;
}
.peopletext p{
    font-size: 16px;
    font-weight: 400;
}

.footercontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 8%;
}
.footercontent .img1{
    height: 110px;
    width:110px
}
.footercontent .img2{
    height: 25px;
    width: 130px;
}
.footercontent .img3{
    height: 32px;
    width: 100px;
}
.footercontent .img4{
    height: 27px;
    width: 110px;
}
.footercontent .img5{
    height: 24px;
    width: 150px;
}
.footercontent .img6{
    height: 24px;
    width: 150px;
}
